<!--<div class="col-xs-4">
  <input type="test" name="contractaddress" [ngModel]="contractAddress">
  <button type="button" class="button" (click)="setContract(contractAddress)">Set Contract</button>
</div>
-->

<project-create [(web3)]="web3" (contractCreated)="getRepo($event)" [(active)]="projectExists" [(openFund)]="openFund" [account]="account"></project-create>

<h1 class="col-xs-12 text-center"  >
  {{_repo}}   <a [attr.href]="'https://github.com/'+_user+'/'+_repo" target="_blank">Github</a>
</h1>
<section>
  <div class="col-xs-6">
    <dl class="dl-horizontal">
      <dt>Begin Date</dt>
      <dd>Jan 8, 2017</dd>
    </dl>
  </div>
  <div class="col-xs-6">
    <input type="number" [(ngModel)]="etherToSend">
    <button class="btn btn-primary" (click)="sendTransaction(etherToSend)">Send an Eth</button>
    <button class="btn btn-primary" (click)="withdraw(etherToSend)">withdraw</button>
  </div>
</section>
<div class="clearfix"></div>
<div class="container well">
  <div class="col-xs-4">
    <span class="text-success">Received to Date: {{moneyReceivedToDate}}</span>
  </div>
  <div class="col-xs-4">
    <span class="text-danger">Withdrawn to Date: {{moneyWithdrawnToDate}}</span>
  </div>
  <div class="col-xs-4">
    <span class="text-info">Current Balance:</span> {{currentBalance}}
  </div>
</div>
<div class="container">
  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contribution of contributions">
        <td> {{ contribution.date }} </td>
        <td> {{ contribution.value }} </td>
        <td> {{ contribution.from }} </td>
        <td> {{ contribution.to }} </td>
      </tr>
    </tbody>
  </table>
</div>