<div class="col-xs-3">
  <br> <br> OPEN FUND
  <br> <br>
</div>
<section>
  <div class="col-xs-6">
    <dl class="dl-horizontal">
      <dt>Begin Date</dt>
      <dd>Jan 8, 2017</dd>
    </dl>
  </div>
</section>
<div class="clearfix"></div>
<div class="container well">
  <div class="col-xs-4">
    <span class="text-success">Money Received to Date: $0</span>
  </div>
  <div class="col-xs-4">
    <span class="text-danger">Money Withdrawn to Date: $0</span>
  </div>
  <div class="col-xs-4">
    <span class="text-info">Current Balance</span>
  </div>
</div>
<div class="container">
  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Transaction</th>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contribution of contributions">
        <td> {{ contribution.date }} </td>
        <td> {{ contribution.amount }} </td>
        <td> {{ contribution.transaction }} </td>
        <td> {{ contribution.from }} </td>
        <td> {{ contribution.to }} </td>
      </tr>
    </tbody>
  </table>
</div>