<section id="grabber">
  <div class="container">
    bleh
  </div>
</section>

<div class="container" id="projects">
  <h2 class="text-center">Projects Using OpenFund</h2>
  <div *ngFor="let n of [1,2,3,4]" class="col-xs-3">
    <div class="background-grey">
      <p class="middle">NO ONE</p>
    </div>
  </div>
</div>

<section id="testimonials">
  <div class="container">
    <h2 class="text-center">Testimonials</h2>
    <div class="col-xs-4">
      <h4>
        Best thing since sliced bread.
      </h4>
      <p>
        Whoever the developer is - he or she is destined for a future of success and riches. The world needs more people like you. I hope the best for you! Thank you for all you've done!
      </p>
      <p class="text-right">- Developer</p>
    </div>
    <div class="col-xs-4">
      <h4>
        Meh..
      </h4>
      <p>
        I mean, its a cool app I guess
      </p>
      <p class="text-right">- Anonymous</p>
    </div>
    <div class="col-xs-3">
      <h4>
        Protect Ya Neck
      </h4>
      <p>
        Cash Rules Everything Around Me  
      </p>
      <p class="text-right">- Wu-Tang Clan</p>
    </div>
  </div>
</section>